.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.7;
    padding: 0.3rem 0.4rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--container-color);
}

.scrollup:hover {
    background-color: var(--title-color-dark);
}

/* Show scroll */
.show-scroll {
    bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* for large devices */
@media screen and (max-width: 992px) {
    .scrollup {
        right: 1.5rem;
    }
}

/* for medium devices */
@media screen and (max-width: 768px) {
    .show-scroll {
        bottom: 3.8rem;
    }
}

/* for small devices */
@media screen and (max-width: 576px) {
    .scrollup {
        right: 1rem;
    }

    .scrollup__icon {
        font-size: 1.25rem;
    }
}